@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  /* overflow-x: hidden; */
  /* cursor: default; */
}

::-webkit-scrollbar {
  display: none;
}

.card_background {
  background: linear-gradient(
    90deg,
    rgba(239, 239, 239, 0.5) 23.55%,
    rgba(255, 255, 255, 0) 78.35%
  );
}
